/*      .stickyth {
        background: #7cb342 ;
        position: static;
        top: 0;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        color:green;*/





      table{
        empty-cells: show;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
      }
      thead {
        position: sticky;
      }
      th {
        background: #7cb342 ;
        top: 0;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        color:white;
      }
      tr {
        font-size: 12px;
        line-height: 0px;
        min-height: 0px;
        height: 0px;
        border: solid;
        border-width: 2px;
      }
      td {
        border: solid;
        border-color: #bdbdbd;
        border-width: 1px;
      }