<head>
	{% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>

      tbody {
        display:block;
        overflow:auto;
      }
      thead, tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;
      }
      thead {
        width: calc( 100% - 1em )
      }
      table {
        width:100%;
      }

      </style>
</head>


<body>
{% include "drawingregister/includes/navbar.html" %}
{% include "drawingregister/includes/messages.html" %}  

  <div class="container">
  	<br>      
	  {% block content %}
	  {% endblock %}
  </div>
</body>

<script src="{% static 'tinymce/js/prism.js' %}"></script>
<script>M.AutoInit();</script>
