{% extends "drawingregister/header.html" %}

{% block content %}
    <div class="row">
        <h3>
            {{pj.name}}
        </h3>
        <h6>
            {{pj.number}}
        </h6>
    </div>        
    <div class="row">
        <div class="col s12 m6 l4">
            <a href="drawings/">
                <div class="card hoverable light-green lighten-3">
                    <div class="card-content black-text">
                        <span class="card-title black-text">Drawing list</span>
                        <p class = "black-text">List of all the project drawings.</p>
                        <br><br/>
                   
                         <a class="btn-floating  waves-effect waves-light light-green darken-3" href="newdwg/"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s12 m6 l4">
            <a href="submissions/">
                <div class="card hoverable light-green lighten-3">
                    <div class="card-content ">
                        <span class="card-title black-text">Submissions list</span>
                        <p class = "black-text">A list of all the project submissions. From here you can see the drawings that are required for each submission as well as check their upload status.</p>
                        <br><br/>
                   
                         <a class="btn-floating  waves-effect waves-light light-green darken-3" href="newsub/"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </a>

        </div>

        <div class="col s12 m6 l4">
            <a href="transmittal/">
                <div class="card hoverable light-green lighten-3">
                    <div class="card-content black-text">
                        <span class="card-title">Transmittal</span>
                        <p>A table showing an overview of a projects drawings and submissions, including what the current revision for each drawing is.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>


{% endblock %}