{% extends "drawingregister/header.html" %}

{% block content %}


    <div class="row">
        <div class="col s12, m8, l4">
            <h3>{{submission.sub_date}}</h3>
        </div>

        <div class="col s12, m8, l3">
            <form method='POST'> 
                {% csrf_token %}
                {{ form.as_p }}
            </form>
        </div>

        <div class="col s12, m8, l1">
            <h3 style="vertical-align:bottom" >

                {% if submission.file_path == "" %}
                    <a class="waves-effect waves-light btn-small light-green lighten-4" name="file_path_btn">
                    <i class="material-icons black-text">folder_open</i>
                    </a>
                {% else %}
                    <a class="waves-effect waves-light btn-small light-green lighten-4" href="{% url 'drawingregister:open_file_path' submission.file_path%}" name="file_path_btn">
                    <i class="material-icons black-text">folder_open</i>
                    </a>
                {% endif %}

            </h3>
        </div>

        <div class="col s12, m8, l4">
            <h3 style="vertical-align:bottom" >
                <a class="btn btn-primary light-green lighten-1" href="{% url 'drawingregister:postAconex' sub_date=submission.sub_date%}" name="mybtn">Update 'Submitted'</a>
            </h3>
        </div>
    </div>


    <div class="row">

        <div class="col s12, m8, l4">
            <p style="font-size:70%">All required drawings</p>
            	<p>
            	{% for dwg in sub_dwgs %}
                    <!-- This is refereing to the url name it was assigned -->
            		<a style="color:#AEB6BF" href ="{% url 'drawingregister:single_drawing' single_slug=dwg.drawing_name%}"> <p>{{ dwg }}</p> </a>
            	{% endfor %}
            	</p>
        </div>

        <div class="col s12, m8, l4">
            <p style="font-size:70%">Drawings found in folder</p>
            	<p>
            	{% for dwg in sub_comp %}
            		<a style="color:darkseagreen;" href ="{% url 'drawingregister:single_drawing' single_slug=dwg %}"> <p>{{ dwg }}</p> </a>
            	{% endfor %}

                {% for dwg in sub_dubspace %}
                    <p style="color:gold;"> {{dwg}} </p>
                {% endfor %}

                {% for dwg in sub_nomatch %}
                    <p style="color:red;"> {{dwg}} </p>
                {% endfor %}
            	</p>
        </div>


        <div class="col s12, m8, l4">
            <p style="font-size:70%">Submitted drawings</p>
            	<p>
            	{% for dwg in was_sub %}
            		<a style="color:darkseagreen" href ="{% url 'drawingregister:single_drawing' single_slug=dwg %}"> <p>{{ dwg }}</p> </a>
            	{% endfor %}
            	</p>
        </div>







    </div>


{% endblock %}