{% extends "drawingregister/header.html" %}

{% block content %}

    <div class="row">

        <div class="col s12, m8, l4">
            <h3>{{submission.sub_date}}</h3>
            <p style="font-size:70%">All required drawings</p>
            	<p>
            	{% for dwg in sub_dwgs %}
                    <!-- This is refereing to the url name it was assigned -->
            		<a href ="{% url 'drawingregister:single_drawing' single_slug=dwg.drawing_name%}"> <p>{{ dwg }}</p> </a>
            	{% endfor %}
            	</p>
        </div>

        <div class="col s12, m8, l4">
           <!--  <h3 style ="color:White;">.</h3> -->
            <h3>
                <form method='POST'> 
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </h3>


            <p style="font-size:70%">Drawings found in folder</p>
            	<p>
            	{% for dwg in sub_comp %}
            		<a style="color:darkseagreen;" href ="{% url 'drawingregister:single_drawing' single_slug=dwg %}"> <p>{{ dwg }}</p> </a>
            	{% endfor %}

                {% for dwg in sub_dubspace %}
                    <p style="color:gold;"> {{dwg}} </p>
                {% endfor %}

                {% for dwg in sub_nomatch %}
                    <p style="color:red;"> {{dwg}} </p>
                {% endfor %}
            	</p>
        </div>


        <div class="col s12, m8, l4">
            
			<h3>

		   		<a class="btn btn-primary" href="{% url 'drawingregister:postAconex' sub_date=submission.sub_date%}" name="mybtn">Update 'Submitted'</a>

			</h3>
            <p style="font-size:70%">Submitted drawings</p>
            	<p>
            	{% for dwg in was_sub %}
            		<a href ="{% url 'drawingregister:single_drawing' single_slug=dwg %}"> <p>{{ dwg }}</p> </a>
            	{% endfor %}
            	</p>
        </div>







    </div>


{% endblock %}