{% extends "drawingregister/header.html" %}

{% block content %}
    <div class="row">
        <h3>
            {{pj.name}}
        </h3>
        <h6>
            {{pj.number}}
        </h6>
    </div>        
    <div class="row">
        <div class="col s12 m6 l4">
            <a href="drawings/">
                <div class="card hoverable light-green lighten-3">
                    <div class="card-content black-text">
                        <span class="card-title">Drawing list</span>
                        <p>List of all the project drawings.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s12 m6 l4">
            <a href="submissions/">
                <div class="card hoverable light-green lighten-3">
                    <div class="card-content black-text">
                        <span class="card-title">Submissions list</span>
                        <p>A list of all the project submissions. From here you can see the drawings that are required for each submission as well as check their upload status.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s12 m6 l4">
            <a href="transmittal/">
                <div class="card hoverable light-green lighten-3">
                    <div class="card-content black-text">
                        <span class="card-title">Transmittal</span>
                        <p>A table showing an overview of a projects drawings and submissions, including what the current revision for each drawing is.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>


{% endblock %}