{% extends "drawingregister/header.html" %}

{% block content %}

	<div class="row">
	    <div class="col s12, m8, l4">
	    	<p>
	        {% for d in context%}
	            <a href="{% url 'drawingregister:single_submission' d  %}">
	                <p>{{d}}</p>
	            </a>
	        {% endfor %}
	        </p>
	        <a class="btn-floating  waves-effect waves-light light-green darken-3" href="{% url 'drawingregister:newsub' pj_slug=pj_slug%}"><i class="material-icons">add</i></a>

	    </div>
	</div>


{% endblock %}