<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js" crossorigin="anonymous"></script>
	<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
	<style>
		/*td {
			background-color: none !important;
			background: none !important;
		}*/
		/*tr:nth-child(even) {background: rgba(0,0,0,0.1);}*/
    .ghosted{
      display: none;
    }
	</style>
</head>
<body>
<div style="width:100%" id="example"></div>
</body>

<!-- <h1>Hello World</h1> -->
{% csrf_token %}
<script type="text/javascript">
console.log("hello world")

var data = {{data|safe}};
// var rowHeaders = ['2017', '2018', '2019']
var colHeaders= [
// 'id',
'Drawing Number','Project','Originator','Volume or System','Type','Discipline','Series','Level','Zone or Sequence',]

var columns = [
  // {className:"abc",      renderer: myRenderer, data:'id'},
  {className:"abc",      renderer: myRenderer, data:'drawingNumber', readOnly: true, observeChanges: true},
  {className:"abc",      renderer: myRenderer, data:'dn_project'},
  {className:"enabled",  renderer: myRenderer, data:'dn_originator'},
  {className:"abc",      renderer: myRenderer, data:'dn_volume_system'},
  {className:"abc",      renderer: myRenderer, data:'dn_type'},
  {className:"abc",      renderer: myRenderer, data:'dn_discipline'},
  {className:"abc",      renderer: myRenderer, data:'dn_series'},
  {className:"abc",      renderer: myRenderer, data:'dn_level'},
  {className:"abc",      renderer: myRenderer, data:'dn_zone_sequence'},
    // type: 'dropdown', source: ['yellow', 'red', 'orange', 'green', 'blue', 'gray', 'black', 'white', 5]
  ]



var container = document.getElementById('example');


var lut = {"drawingNumber":"Drawing Number","dn_project":"Project","dn_originator":"Originator","dn_volume_system":"Volume or System","dn_type":"Type","dn_discipline":"Discipline","dn_series":"Series","dn_level":"Level","dn_zone_sequence":"Zone or Sequence"}


var hot = new Handsontable(container, {
  licenseKey: 'non-commercial-and-evaluation',
  data: data,
  dataSchema: {id: null, name:{last: null, first: null}, address: null},
  // rowHeaders: true,
  colHeaders: colHeaders,
  undo: true,
  // width: '100%',
  // stretchH: 'all',
  columns: columns,
  // colWidths: [45, 100, 160, 160, 80, 80, 80],
  manualColumnResize: true,
  manualColumnMove: true,
  // fixedColumnsLeft: 1,
  // contextMenu: ['row_above', 'row_below', 'remove_row'],
  contextMenu: true,
  manualColumnFreeze: true,
  observeChanges: true,
  currentRowClassName: 'currentRow',
  currentColClassName: 'currentCol',


  // dropdownMenu: true,
  // colHeaders: true,
  // filters: true,
  // dropdownMenu: true,
  // afterChange: (changes) => {
  //   changes.forEach(([y, x, oldValue, newValue]) => {
  //     console.log(x,y,oldValue,newValue);
  //     console.log(rowHeaders[y], colHeaders[x]);
  //   });
  // }
  afterChange: function (change, source) {
    // if (source === 'loadData') {
      // return; //don't save this change
    // }
    // if (!autosave.checked) {
      // return;
    // }
    // clearTimeout(autosaveNotification);
    if (source != 'loadData'){

      var payload = {data:[]}
      var row_dict = {row:[],returns:[]}

      // console.log("change");
      // console.log(change);
      // console.log(source);
      // console.log(this);
      for ( var i = 0; i < change.length; i ++ ) {
        editheaders = this.getColHeader();
        var actualhead = lut[change[i][1]]
        var col = editheaders.indexOf(actualhead)
        var row = change[i][0];
        var value = this.getCell(row,col).id;
        row_dict["row"].push(row)
        apob = {id: value}
        apob[change[i][1]] = change[i][3]
        payload["data"].push(apob);
      }


      var jsoned_data = JSON.stringify(payload)
      $.ajax({
        url:'/dregister/updateDrawings/',
        data: {data: jsoned_data},
        dataType: 'json',
        method: 'POST',
        success: function (data) {
          var r = data["returns"]
          row_dict["returns"] = r;
          console.log(row_dict)
          
          // updateCell(this, row_dict)

          if (data.is_taken) {
              alert(data.error_message);
          }
          console.log("SUCCESS!")
        }
      });
      // console.log(data[0])

      setTimeout(function(){

      console.log(row_dict['row'].length)

      for ( var i = 0; i < row_dict['row'].length; i ++ ){
        console.log("row_dict['row'][i]")
        console.log(row_dict['row'][i])
        // console.log("row_dict")
        console.log("row_dict['returns'][i]")
        console.log(row_dict['returns'][i])
        data[row_dict['row'][i]]['drawingNumber']=row_dict['returns'][i]
      }



      },200)

      //   hot.setDataAtCell(row_dict['row'][i],0,row_dict['returns'][i],"changeTitle")
      // }
    }
  }

});
// function updateCell(hot, data) {
//   console.log("update cell")
//   console.log(data)
//   for ( var i = 0; i < data['row'].length; i ++ ){
//     hot.setDataAtCell(data['row'][i],0,data['returns'][i],"changeTitle")
//   }
// }

function myRenderer(instance, td, row, col, prop, value, cellProperties) {
  // Handsontable.TextCell.renderer.apply(this, arguments);
  // Handsontable.renderers.BaseRenderer.apply(this, arguments);
//             ^^^^^^^^  you can change TextCell for any other supported renderer
  // console.log("------------------------------------------------------------");
  // console.log(instance);
  // console.log(td);
  // console.log(row);
  // console.log(col);
  // console.log(prop);
  // console.log(value);
  // console.log(cellProperties);
  td.innerHTML = value;
  td.id = data[row]["id"];
  return td
}


</script>
</html>