{% extends "drawingregister/header.html" %}

{% block content %}

<style type="text/css">
	      table {
        empty-cells: show;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      tbody {
        display:block;
        overflow:hidden;
      }
      thead, tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;
        font-size: 12px;
        line-height: 0px;
        min-height: 0px;
        height: 0px;
      }
      thead {
        background: #7cb342;
        position: sticky;
        top: 0;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
      }
      td{ border-left:0.5px solid #ccc; border-right: 0.5px solid #ccc; border-bottom: 0px solid #000;}
      }

</style>


	<div class="row">
		<div class="col s12, m8, l3">

			<table class="striped responsive-table">
				<thead>
					<tr>
						<th style="text-align:center; color:white">Drawing</th>
					</tr>
				</thead>
				<tbody>
					{% for d in dwgs %}
						<tr>
							<td>
								<a style="color:black" href="{% url 'drawingregister:single_drawing' d.drawing_name %}">
									{{d.drawing_name}}
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col s12, m8, l9">
			<table class="centered striped responsive-table">
				<thead >
					<tr>
						{% for s in sname %}
							<th>
								<a style="color:white" href="{% url 'drawingregister:single_submission' s %}">
									{{s}}
								</a>
							</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for l in mylist %}
						<tr>
							{% for x in l %}
								{% if x == 0 %}
									<td></td>
								{% else %}
									<td>{{x}}</td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</row>

{% endblock %}