<script type="text/javascript">
	
	var recordChanges = function(modifications, actions) {
		console.log("READY TO RECORD CHANGES")

		// When you make an edit
		if (actions != 'loadData') {

			var payload = {data:[]}

			for ( var i = 0; i < modifications.length; i ++ ) {

				var apob = {}

				var editheaders = table.getSettings().colHeaders;

				var dataHead = modifications[i][1]

				console.log(data_lut)
				console.log(dataHead)

				var dataValue = modifications[i][3]

				if (dataValue == null) {
					dataValue = ""
				}

				var actualhead = data_lut[dataHead]

				console.log(actualhead)

				// If its an editable column and room type column exists
				if (do_not_edit.indexOf(actualhead) == -1) {

					var col = editheaders.indexOf(actualhead)

					var row = modifications[i][0];

					try {

						var continue_run = true

						try {
							var val_id = this.getCell(row,col).id;
							var found = true
						} catch(e) {
							var found = false
						}

						if (found) {
							apob[unique_identifier_dataHeader] = val_id

							if (base_headers.indexOf(dataHead) == -1) {
								header = dataHead.split(".")[0]
								footer = dataHead.split(".")[1]

								// try {
								// 	footer = actualhead.split("+").join(" ")
								// } catch(e) {
								// 	console.log(e)
								// }
								
								console.log(footer)

								apob[header] = {}
								apob[header][footer] = ""

								apob[header][footer] = dataValue

								var is_dataParam = true
							} else {
								apob[dataHead] = dataValue
								var is_dataParam = false
							}

							console.log("CHANGE")
							console.log(apob)

							try {

								var arr = payload["data"]

								var elid_arr = []

								if (arr != []) {
									for (var rm in arr) {
										var elid = arr[rm][unique_identifier_dataHeader]
										elid_arr.push(elid)
									}
								}

								if (elid_arr != []) {
									var index = elid_arr.indexOf(apob[unique_identifier_dataHeader])
									if (index != -1) {
										if (is_dataParam == true) {
											arr[index][header][footer] = dataValue
										} else {
											arr[index][dataHead] = dataValue
										}
									} else {
										arr.push(apob)
									}
								}
							} catch(e) {
								console.log(e)
							}
						}

						console.log(payload)
						
						// payload["data"].push(apob);

					} catch(e) {
						var continue_run = false
						console.log(e)
						console.log("DONE")
					}

				} else {

					// Cannot edit a non-editable column and room type column must exist
					console.log("Cannot edit: " + dataHead)

				}

			}

			// THIS IS WHERE WE NEED TO CREATE THE PROJECT NAME USING colCols AND THEN CHECK AGAINST dupCheck
			//IF IT FAILS THEN RECOLOUR CELL
			console.log("Wills Test")
			var editheaders = table.getSettings().colHeaders;
			var colindex = editheaders.indexOf("Id")
			var coldata = this.getDataAtCol(colindex)

			for ( var i = 0; i < payload["data"].length; i ++ ) {
				var payloadi = Number(payload["data"][i]["id"])
				var rowindex = coldata.indexOf(payloadi)

				var rowdata = this.getSourceDataAtRow(rowindex)["data_store"]
				var newname = []

				for ( var k = 0; k < colCols.length; k ++ ) {
					if (colCols[k] in rowdata == true) {
						newname.push(rowdata[colCols[k]])
					}
					else {
						newname.push(colCols[k])
					}
				}

				//USING THE LUTs TO CORRECT THE NAME
				for ( var l = 0; l < namingLUTs.length; l ++ ){
					keys = Object.keys(namingLUTs[l])
					for ( var j = 0; j < keys.length; j ++ ){
						var idx = newname.indexOf(keys[j])
						if (idx != 1 ) {
							newname[idx] = namingLUTs[l][keys[j]]
						}
					}
				}
				newname = newname.join("")
				newname = newname.replace("~","")
				console.log(newname)

				var dwgcol = editheaders.indexOf("Drawing name")
				var dwgname = this.getDataAtCell(rowindex, dwgcol)

				console.log(dwgname)

				if (newname == dwgname) {
					console.log("No change made")
				}
				else{
					console.log("A change was made")
					if (dupCheck.indexOf(newname) != -1){
						console.log("WE HAVE A PROBLEM!")
						var spliceidx = payloadi
						console.log(spliceidx)
						for (var m = 0; m < payload["data"].length; m ++ ){
							if (Number(payload["data"][m]["id"]) == spliceidx) {
								//THE SPLICING IS NOT CURRENTLY WORKING!!! PLEASE SOLVE!!
								console.log(payload)
								payload["data"].splice(m, 1)
								console.log(payload)
							}
						}
					}
					else{
						dupCheck.splice(dupCheck.indexOf(dwgname), 1)
						dupCheck.push(newname)

					}

				}
			}


			if (continue_run == true) {
				console.log("PAYLOAD")
				console.log(payload)

				setTimeout(function(){
					$.ajax({
						url: posturl,
						data: {data: JSON.stringify(payload)},
						dataType: 'json',
						method: 'POST',
						success: function(response) {
							console.log("RESPONSE")
							console.log(response)
							if (response["updatedData"] != []){
								setDrawingName(response["updatedData"])
							}

						},
						failure: function(response) {
							console.log(response)
						}
					})
				},200)
			}
			

		}

	}

</script>