<script type="text/javascript">

	function colourCell(naming_headers, renderer_lut) {
		console.log(naming_headers)
		console.log(Object.keys(data_lut))
		
		for (var i = 0; i < naming_headers.length; i ++ ) {
			if (Object.keys(data_lut).indexOf("data_store."+naming_headers[i]) != -1) {
				renderer_lut["data_store."+naming_headers[i]] = {}
				renderer_lut["data_store."+naming_headers[i]] = {"renderer":namingRenderer}
				// console.log("MATHCING HEADER")
				// console.log(renderer_lut)
			}
			else {
				// console.log("NO MATCH")
			}
		}

		return renderer_lut
	}

	function dupCell(editheaders, allIDs, rowIDs){
		for (var i = 0; i < rowIDs.length; i ++ ) {
			var rowindex = allIDs.indexOf(rowIDs[i])
			for (var j = 0; j < editheaders.length; j ++ ) {
				table.setCellMeta(rowindex, j, 'renderer', dupRenderer);

							// WE CANT RENDER THE ENTIRE TABLE EVERY TIME

				// table.render();
			}
		}
	}	
	function undupCell(editheaders, coldata, rowindex){
		var origheaders = []
		var ds_headers = []
		var rev_LUT = createRevDict(data_lut)

		for (var i = 0; i < editheaders.length; i ++ ) {
			origheaders.push(rev_LUT[editheaders[i]])
		}
		for (var i = 0; i < colCols.length; i ++ ) {
			ds_headers.push("data_store."+colCols[i])
		}
		
		console.log(origheaders)
		for (var j = 0; j < editheaders.length; j ++ ) {
			if (ds_headers.indexOf(origheaders[j]) != -1) {
				table.setCellMeta(rowindex, j, 'renderer', namingRenderer);	
			}
			else{
				table.setCellMeta(rowindex, j, 'renderer', myIDRenderer);
			}
		}
		// table.render();
	}

	

</script>