{% extends 'main/header.html' %}

{% block content %}

    <div class="row">
            <center> <a class="waves-effect waves-light btn-large center" style="background-color:deep-purple lighten-5; color:black; font-size: 200%">Series</a></center>   
    </div>


    <div class="row">
        {% for tut, partone in part_ones.items %}
            <div class="col s12 m6 l4 ">
                <a href="{{partone}}", style="color:#000">
                    <div class="card hoverable deep-purple lighten-5">
                        <div class="card-content">
                            <div class="card-title"><strong>{{tut.tutorial_series}}</strong></div>
                            <p>{{tut.series_summary}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}