{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Test - Admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Cox Labs Public Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}


{% block extrastyle %}
<style>
:root {
  --m700: #7b1fa2; 
  --m600: #ae52d4;
  --t000: #fdd835;
  --s000: #ff9800;
}

#header{
	background: var(--m700);
}

.module h2, .module caption, .inline-group h2 {
	background: var(--m600);

}

a:link, a:visited{
	color: var(--m700);
}

div.breadcrumbs {
	background: var(--m600);
	color: var(--t000);
}

.selector-chosen h2 {
    background: var(--m600) !important;
    color: #fff;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: var(--m700);
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: var(--m600);
}

.object-tools a:focus, .object-tools a:hover {
    background-color: var(--m600);
}

</style>
{% endblock %}